@import "tailwindcss";

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer base {
  input[type="number"].appearance-none::-webkit-inner-spin-button,
  input[type="number"].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }

  input[type="number"].appearance-none {
    -moz-appearance: textfield !important;
  }
}


.leaflet-container{
  height: 100vh;
  
}


body {
  background-color: #f8fafc; /* same as bg-slate-50 */
}